<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do Lift</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="dist/dual-listbox.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../layouts/custom2.css">

</head>

<body>

    <input type="checkbox" name="mobile-nav" id="mobile-nav" class="gaadiexp-check" onchange="this.blur()">
    <label for="mobile-nav" class="gaadiexp white" tabindex="0"><span></span></label>
    <nav role="navigation" class="header-nav">
        <div class="fixed-nav">
            <a class="navbar-brand" style="margin-left:40px" href="#"></a>
            <div class="menu">
                <ul>
                    <li class="page_item page-item-2">
                        <a href="profile.html" class="list-group-item ">My Plan</a> <!-- View Plan -->
                    </li>
                    <li class="page_item page-item-2">
                        <a href="wishlist.html" class="list-group-item">Workouts</a>
                    </li>
                    <li class="page_item page-item-2">
                        <a href="interest.html" class="list-group-item">Nutrition</a>
                    </li>
                    <li class="page_item page-item-2">
                        <a href="bids.html" class="list-group-item">Supplements</a>
                    </li>
                    <li class="page_item page-item-2">
                        <a href="liftings.html" class="list-group-item">Motivation</a>
                    </li>
                    <li class="page_item page-item-2">
                        <a href="documents.html" class="list-group-item">Video Library</a>
                    </li>
                    <li class="page_item page-item-2">
                        <a href="bid-history.html" class="list-group-item">Articles</a>
                    </li>
                    <li class="page_item page-item-2">
                        <a href="payments.html" class="list-group-item">Log Out</a>
                    </li>
                </ul>
                <form class="example" action="/action_page.php">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </nav>

    <img src="../layouts/images/new-front.png" alt="" usemap="#Map" />
    <map name="Map">
        <area target="_self" alt="abdominals" title="abdominals" href="" coords="202,153,188,155,179,165,178,183,178,199,178,216,181,231,188,247,191,255,203,265,216,252,220,238,224,219,226,203,226,183,226,167,217,153"
            shape="poly">
        <area target="_self" alt="abductors" title="abductors" href="" coords="160,233,164,241,166,247,166,254,162,263,150,273" shape="poly">
        <area target="_self" alt="abductors" title="abductors" href="" coords="245,230,241,239,241,249,241,255,247,264,252,275,258,277"
            shape="poly">
        <area target="_self" alt="adductors" title="adductors" href="" coords="190,276,187,282,186,291,188,300,195,315,201,306,198,285"
            shape="poly">
        <area target="_self" alt="adductors" title="adductors" href="" coords="211,280,218,275,221,281,218,289,216,299,209,306,205,291"
            shape="poly">
        <area target="_self" alt="biceps" title="biceps" href="" coords="140,131,131,137,124,145,120,155,118,165,118,171,126,167,133,162,141,159,144,141"
            shape="poly">
        <area target="_self" alt="biceps" title="biceps" href="" coords="261,133,261,142,261,150,266,157,274,163,282,164,289,162,283,152,276,138"
            shape="poly">
        <area target="_self" alt="chest" title="chest" href="" coords="162,118,169,116,178,115,186,115,191,120,197,135,194,144,185,151,175,155,167,154,155,145,152,127"
            shape="poly">
        <area target="_self" alt="chest" title="chest" href="" coords="212,117,211,124,208,133,208,140,212,147,222,150,231,150,241,149,249,139,251,130,240,118,227,117"
            shape="poly">
        <area target="_self" alt="forearms" title="forearms" href="" coords="105,189,96,193,87,207,87,219,96,223,109,211,118,199,114,191"
            shape="poly">
        <area target="_self" alt="forearms" title="forearms" href="" coords="300,187,298,194,298,200,305,207,313,215,321,211,328,205,314,187"
            shape="poly">
        <area target="_self" alt="neck" title="neck" href="" coords="185,81,185,87,184,97,189,101,196,107,208,107,216,101,222,85"
            shape="poly">
        <area target="_self" alt="quadriceps" title="quadriceps" href="" coords="166,262,158,272,155,282,152,300,151,312,151,334,159,348,167,350,174,352,179,364,191,366,190,345,183,314"
            shape="poly">
        <area target="_self" alt="quadriceps" title="quadriceps" href="" coords="238,264,232,276,230,295,224,311,222,332,213,348,215,364,223,359,233,350,240,350,250,332,252,304,248,280"
            shape="poly">
        <area target="_self" alt="shoulders" title="shoulders" href="" coords="163,104,168,109,158,114,147,118,139,124,128,125,136,108"
            shape="poly">
        <area target="_self" alt="shoulders" title="shoulders" href="" coords="246,107,246,114,253,120,262,124,268,125,277,126,268,112,252,103,275,118"
            shape="poly">
        <area target="_self" alt="traps" title="traps" href="" coords="168,104,176,107,188,105,180,97" shape="poly">
        <area target="_self" alt="traps" title="traps" href="" coords="220,97,220,105,227,106,243,103" shape="poly">
    </map>
    <img src="../layouts/images/new-back.png" alt="" usemap="#Map2" />
    <map name="Map2">
        <area target="_self" alt="abductors" title="abductors" href="" coords="165,223,173,223,179,227,172,238,164,245,162,272,162,290,165,304,165,325,162,333,153,307,152,281"
            shape="poly">
        <area target="_self" alt="abductors" title="abductors" href="" coords="258,223,262,243,267,267,267,294,265,324,262,333,255,298,254,244,242,230"
            shape="poly">
        <area target="_self" alt="adductors" title="adductors" href="" coords="200,286,192,290,192,302,199,322,204,329,206,302,209,288"
            shape="poly">
        <area target="_self" alt="adductors" title="adductors" href="" coords="220,286,227,286,230,293,228,308,221,322,212,298,215,320"
            shape="poly">
        <area target="_self" alt="calves" title="calves" href="" coords="178,370,170,383,170,398,167,412,167,426,174,432,187,432,196,427,202,434,206,414,196,376,202,395,197,376"
            shape="poly">
        <area target="_self" alt="calves" title="calves" href="" coords="232,372,224,386,221,400,216,414,216,431,230,433,244,432,254,420,254,399,250,376"
            shape="poly">
        <area target="_self" alt="glutes" title="glutes" href="" coords="187,235,174,241,168,255,166,269,180,282,194,282,208,268,201,244"
            shape="poly">
        <area target="_self" alt="glutes" title="glutes" href="" coords="230,238,220,253,218,269,225,280,240,281,249,266,252,246,242,236"
            shape="poly">
        <area target="_self" alt="hamstrings" title="hamstrings" href="" coords="179,290,169,299,166,325,166,344,172,361,180,361,186,351,189,361,198,366,201,348,192,324,187,300"
            shape="poly">
        <area target="_self" alt="hamstrings" title="hamstrings" href="" coords="240,290,231,302,229,318,229,331,226,352,226,362,240,348,246,364,255,344,252,310,252,295"
            shape="poly">
        <area target="_self" alt="lats" title="lats" href="" coords="156,146,168,146,181,145,188,153,194,167,201,182,194,196,184,202,166,199"
            shape="poly">
        <area target="_self" alt="lats" title="lats" href="" coords="242,146,234,154,222,169,226,189,252,189,264,160,268,146" shape="poly">
        <area target="_self" alt="lower back" title="lower back" href="" coords="184,204,183,213,183,223,196,226,214,228,232,227,250,212,250,199,230,196,203,199"
            shape="poly">
        <area target="_self" alt="middle back" title="middle back" href="" coords="152,121,166,114,180,110,197,106,213,105,225,105,244,106,258,110,271,119,272,136,258,140,228,142,198,142,161,142,152,131"
            shape="poly">
        <area target="_self" alt="neck" title="neck" href="" coords="193,58,203,58,214,56,224,56,228,65,228,75,202,76,194,74" shape="poly">
        <area target="_self" alt="shoulders" title="shoulders" href="" coords="161,96,161,102,152,109,142,116,126,122,132,101" shape="poly">
        <area target="_self" alt="shoulders" title="shoulders" href="" coords="268,98,271,112,282,118,294,126,296,108,282,96" shape="poly">
        <area target="_self" alt="traps" title="traps" href="" coords="167,92,176,96,192,98,205,98,230,97,250,92,237,84,212,81,190,80"
            shape="poly">
        <area target="_self" alt="triceps" title="triceps" href="" coords="134,122,123,131,117,147,120,161,120,176,134,154,146,150,146,126"
            shape="poly">
        <area target="_self" alt="triceps" title="triceps" href="" coords="283,124,276,134,275,150,288,160,301,172,301,153,294,135"
            shape="poly">
    </map>

    <select class="demo" multiple>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>
            <option value="5">Five</option>
            <option value="6">Six</option>
            <option value="7">Seven</option>
            <option value="8">Eight</option>
            <option value="9">Nine</option>
            <option value="10">Ten</option>
          </select>

    <footer class="footer">
        <div class="container">
            <ul class="social-icon animate pull-right">
                <li><a href="#" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" title="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </footer>

    

    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="dist/dual-listbox.js"></script>
    <script src="../layouts/index2.js"></script>
</body>

</html>