<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do Lift</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../layouts/custom3.css">

</head>

<body>

    <input type="checkbox" name="mobile-nav" id="mobile-nav" class="gaadiexp-check" onchange="this.blur()">
    <label for="mobile-nav" class="gaadiexp white" tabindex="0"><span></span></label>
    <nav role="navigation" class="header-nav">
        <div class="fixed-nav">
            <a class="navbar-brand" style="margin-left:40px" href="#"></a>
            <div class="menu">
                <ul>
                    <li class="page_item page-item-2">
                        <a href="profile.html" class="list-group-item ">My Plan</a> <!-- View Plan -->
                    </li>
                    <li class="page_item page-item-2">
                        <a href="wishlist.html" class="list-group-item">Workouts</a>
                    </li>
                    <li class="page_item page-item-2">
                        <a href="interest.html" class="list-group-item">Nutrition</a>
                    </li>
                    <li class="page_item page-item-2">
                        <a href="bids.html" class="list-group-item">Supplements</a>
                    </li>
                    <li class="page_item page-item-2">
                        <a href="liftings.html" class="list-group-item">Motivation</a>
                    </li>
                    <li class="page_item page-item-2">
                        <a href="documents.html" class="list-group-item">Video Library</a>
                    </li>
                    <li class="page_item page-item-2">
                        <a href="bid-history.html" class="list-group-item">Articles</a>
                    </li>
                    <li class="page_item page-item-2">
                        <a href="payments.html" class="list-group-item">Log Out</a>
                    </li>
                </ul>
                <form class="example" action="/action_page.php">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </nav>


    <div class="container">
        <h3>Create your own plan</h3>
            <div class="row col-list">
                <div class="col-md-4 t1">
                    <div class="col-head text-center">
                        <span class="fa fa-list-ol" aria-hidden="true"></span>
                        <h2>Your Plan</h2>
                    </div>
                    <ul class="list-unstyled">
                     <li>
                         <p class="option"><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span></p>
                     </li>
                     <li>
                         <p class="option"><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span></p>
                     </li>
                     <li>
                         <p class="option"><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span></p>
                     </li>
                    </ul>
                </div>
                <div class="col-md-4 t2">
                    <div class="col-head text-center">
                        <span class="fa fa-list-ol" aria-hidden="true"></span>
                        <h2>Muscle Groups</h2>
                    </div>
                    <ul class="list-unstyled">
                     <li>
                         <p class="option"><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>Muscle Group 1</p>
                     </li>
                     <li>
                         <p class="option"><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>Muscle Group 2</p>
                     </li>
                     <li>
                            <p class="option"><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>Muscle Group 3</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 t3">
                    <div class="col-head text-center">
                        <span class="fa fa-list-ol" aria-hidden="true"></span>
                        <h2>Exercises</h2>
                    </div>
                    <ul class="list-unstyled">
                     <li>
                         <p class="option"><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>Exercise 1</p>
                     </li>
                     <li>
                         <p class="option"><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>Exercise 2</p>
                     </li>
                     <li>
                         <p class="option"><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>Exercise 3</p>
                     </li>
                     <li>
                         <p class="option"><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>Exercise 4</p>
                     </li>
                    </ul>
                </div>
            </div>
              <hr />
              <div class="text-right">
                <!-- Button trigger modal -->
                <button type="button" id="btn-reset" class="btn btn-default btn-lg">
                  Reset
                </button>
                <!-- Button trigger modal -->
                <button type="button" id="btn-modal" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                  Go to Form
                </button>
            </div>	
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
              </div>
              <div class="modal-body">
                <!--textarea id="textarea-list" class="col-md-12"></textarea-->
                <ul id="summary-list">
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>

    <footer class="footer">
        <div class="container">
            <ul class="social-icon animate pull-right">
                <li><a href="#" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" title="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </footer>

    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="../layouts/index2.js"></script>

    
</body>

</html>