   <div id="login-button">
     <img src="/images/pic.png">

   </div>
   <div id="container" class="signInContainer">
     <h2>Member Log In</h2>
     <span class="close-btn">
       <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png">
     </span>

 <form id="signin" name="signin" method="post" action="signin">
   
    {{!-- <label for="username">Username</label> --}}
    <input name="username" type="text" placeholder="Username"/>
    {{!-- <label for="email">Email Address</label> --}}
    {{!-- <input class="text" name="email" type="text" /> --}}
    {{!-- <label for="password">Password</label> --}}
    <input name="password" type="password" placeholder="Password"/>
    <input class="btn" type="submit" value="Sign In" />

   {{!-- <input type="email" name="email" placeholder="Username">
   <input type="password" name="pass" placeholder="Password"> --}}
   {{!-- <a href="#">Log in</a> --}}
   <div id="remember-container">
     {{!-- <input type="checkbox" id="checkbox-2-1" class="checkbox" checked="checked"/> --}}
     {{!-- <span id="remember">Remember me</span> --}}
     <span class="newUser" id="forgotten">New User</span>
     {{!-- <a id="forgotten" class="orange-btn" href="/signup" target="_blank">NewUser</a> --}}
   </div>
 </form>
</div>
<div id="forgotten-container">
 <h1>Forgotten</h1>
 <span class="close-btn">
   <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png">
 </span>

 <form>
   <input type="email" name="email" placeholder="E-mail">
   <a href="#" class="orange-btn">Get new password</a>
 </form>
{{!-- delete this forgot password garbage --}}
</div>

<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script src="/js/signin.js"></script>